<h2>Course Enrollment</h2>

<form [formGroup]="enrollmentForm" (ngSubmit)="submitForm()">

  <label>Student Name</label><br>
  <input type="text" formControlName="studentName">

  <div *ngIf="enrollmentForm.get('studentName')?.invalid &&
              enrollmentForm.get('studentName')?.touched">
    Name is required.
  </div>

  <br><br>

  <label>Email</label><br>
  <input type="email" formControlName="email">

  <div *ngIf="enrollmentForm.get('email')?.invalid &&
              enrollmentForm.get('email')?.touched">
    Enter a valid email.
  </div>

  <br><br>

  <label>Course</label><br>

  <select formControlName="course">

    <option value="">Select Course</option>

    <option>Angular</option>
    <option>ASP.NET Core</option>
    <option>C#</option>
    <option>SQL Server</option>

  </select>

  <br><br>

  <button type="submit"
          [disabled]="enrollmentForm.invalid">
    Enroll
  </button>

</form>